.footerContainer {
  text-align: center;
  background-color: black;
  padding: 0.44rem 0;

  color: #FFF;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.04375rem;
  text-transform: uppercase;
}